@tailwind base;
@tailwind components;
@tailwind utilities;

/*create a custom style scroll bar*/
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: gainsboro;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: royalblue;
}